@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans: var(--font-poppins);
  --color-primary: #2563eb;
  --color-accent: #22d3ee;
  --color-background: #f8fafc;
  --color-background-dark: #0f172a;
  --color-text: #0f172a;
  --color-text-dark: #f8fafc;
  --color-primary-hover: #1d4ed8;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

